<div>
<div class="flag-manager">
<div class="doc-status-wrap flags-wrap" dir="rtl">
	<div class="flags-title">חיפוש</div>
	<div class="raised-flag">
		<input
			type="text"
			ng-model="search.term"
			ng-keydown="$event.keyCode === 13 && getDocs()"
			id="doc_search"/>
	</div>
</div>
<div class="doc-status-wrap flags-wrap" dir="rtl">
	<div class="flags-title">סטטוס המסמך</div>
	<div class="raised-flag" ng-repeat="(i, s) in docStatusOptions">
		<input
			type="checkbox"
			ng-model="docStatusOptions[i].selected"
			ng-change="getDocs()"
			id="{{'doc_status_'+s.val}}"/>
		<label for="{{'doc_status_'+s.val}}">{{
			s.label
		}}</label>
	</div>
</div>
<div class="raised-flags-wrap flags-wrap" dir="rtl">
	<div class="flags-title">רק עם הדגלים</div>
	<div class="raised-flag" ng-repeat="f in flags">
		<input
			type="checkbox"
			ng-model="raised_flags[f]"
			ng-change="getDocs()"
			id="{{'raised_flag_'+f}}"/>
		<label for="{{'raised_flag_'+f}}">{{
			(f+" "+getFilteredFlagCount(f));
		}}</label>
	</div>
</div>
<div class="unraised-flags-wrap flags-wrap" dir="rtl">
	<div class="flags-title">בלי הדגלים</div>
	<div class="unraised-flag" ng-repeat="f in flags">
		<input
			type="checkbox"
			ng-model="unraised_flags[f]"
			ng-change="getDocs()"
			id="{{'unraised_flag_'+f}}"/>
		<label for="{{'unraised_flag_'+f}}">{{f}}</label>
	</div>
</div>
</div>
<div class="doc-table-wrap">
<table>
<thead>
<tr>
	<td>כותרת</td>
</tr>
</thead>
<tbody>
<tr ng-repeat="d in docs" ng-click="goToPage(d.id)">
	<td>
	<a href=".#!/doc/{{d.id}}">
		{{d.title.trim().length>0?d.title:"אין כותרת"}}
	</a>
	</td>
<tr>
</tbody>
</table>
</div>
<div class="excel-export">ייצוא לאקסל</div>
</div>